# https://travis-ci.org/#!/translate/amagama
language: python
python:
  - 2.6
  - 2.7
install:
  - pip install -r requirements/recommended.txt
  - pip install sphinx
before_script:
  - export PATH=`pwd`/bin:$PATH
  - export PYTHONPATH=`pwd``python -c 'import sys, os; print os.pathsep.join(sys.path)'`
  - psql -c "create database amagama with encoding 'UTF-8';" -U postgres
script:
  - cd docs && make html
  - amagama-manage initdb -s en
  - amagama-manage tmdb_stats
  - yes | amagama-manage dropdb -s en
notifications:
  email:
    on_failure: always
    on_success: change
