    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog"
      aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="aboutModalLabel">About amaGama</h4>
          </div>
          <div class="modal-body">
            <p>amaGama is a web service written in Python implementing a
              large-scale translation memory on top of the PostgreSQL database
              server. A translation memory is a database of previous
              translations which can be searched to find good matches to new
              strings.
            </p>
            <p>amaGama can be used in conjunction with the
              <a href="http://virtaal.translatehouse.org" target="_blank">Virtaal</a>
              and
              <a href="http://pootle.translatehouse.org" target="_blank">Pootle</a>
              translation tools.
            </p>
            <p>amaGama is released under the GNU General Public License,
              version 3 or later. See the
              <a href="https://github.com/translate/amagama/blob/master/LICENSE"
                target="_blank">LICENSE</a>
              file for details.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
