    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog"
      aria-labelledby="helpModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
              aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="helpModalLabel">Help for amaGama web search</h4>
          </div>
          <div class="modal-body">
            Using amaGama web search is quite easy, just type in the input box
            the words you want to search click on the "Search" button.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
